body{
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    background-size:cover;
    color:white;
    min-height: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
  }

img {
  border-radius: 5px 5px 0 0;
}

.checked {
  color: red;
}

.starrating > input {
  display: none;
}
  

.starrating > label:before{
  content: "\f005";
  font-family: FontAwesome;
  margin: 2px;
  font-size: 1em;
  display: inline-block;
}

.starrating > label{
  color: #ffffff; /* Start color when not clicked */
}

.starrating > input:checked ~ label{
  color:#db1305;
  }
  
.starrating > input:hover ~ label{ 
  color: #db13059f ;  
}

.modal-content {
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
}

.cardContainer{
  text-shadow: 1px 1px black;
}
