html{
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    background-size:cover;
    color:white;
    min-height: 100%;
}


.carousel-item {
  height: 600px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  }

  img {
    border-radius: 5px 5px 0 0;
  }

  .checked {
    color: red;
  }